.box-info {
    padding: 1rem;
    text-align: start;
}

.box-puzzle {
    height: 8rem;
    width: 8rem;
}

.button {
    display: flex;
    height: 10rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
